# Build results
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# SQL Server files
*.mdf
*.ldf

# Resharper
_ReSharper*/
*.DotSettings.user

# Rider
.idea/

# Cache files
*.db
*.db-shm
*.db-wal

# Others
*.log
*.tlog
*.vsidx
*.cache
